<div class="panel ">
<div class="row">
	<div class="large-8 columns">
		<h2>Editando vendedor</h2>
	</div>
</div>

<%= render 'form' %>
<div class="row">
  <div class="small-12 large-centered columns">
  	<%= link_to 'Volver', sellers_path %>
  </div>
</div>
</div>
</div>