<<<<<<< HEAD
<h1>New seller</h1>

=======
<div class="panel ">
<div class="row">
	<div class="large-8 columns">

<h1>Nuevo vendedor</h1>
</div>
>>>>>>> origin/master
<%= render 'form' %>

<%= link_to 'Back', sellers_path %>
