<% flash.each do |key, value| %>
<%if key== "notice"%>
<% key="success"%>
<%else%>
<%end%>
<div id="myModal" class="reveal-modal small" data-reveal>
  <h2 align= "center"><%= value %></h2>
  <p class="lead"></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<% end %>