<%if @managers.empty?  %>
	<div><h1><%= link_to "Crear Gerente", new_manager_registration_path %></h1></div>
<%else%>
	<div><h1><%= link_to "Iniciar sesion", manager_session_path %></h1></div>
<% end %>


<%if manager_signed_in? %>
	<p>Bienvenido <% current_manager.email%></p>
	<p><%= link_to "Cerrar Sesión", destroy_manager_session_path, method: :delete %></p>
<%else%>
<%end%>


