<%if @managers.empty?  %>
	<div> <h1><a href="/managers/sign_up">Crear el gerente</a></h1></div>
<% end %>


<%if manager_signed_in? %>
	<p>Bienvenido <% current_manager.email%></p>
	<p><%= link_to "Cerrar Sesión", destroy_manager_session_path, method: :delete %></p>
<%else%>
	<a href="/managers/sign_in">Acceder</a>
<%end%>


